@font-face {
  font-family: "Sansation";
  src: url("font/Sansation_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #1a1919;
}

body:not(h4) {
  color: #fafafa;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

nav ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fafafa;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.flex_row {
  display: flex;
  flex-flow: row wrap;
}

.flex_col {
  display: flex;
  flex-flow: column wrap;
}

.header, .header__logo :first-child {
  z-index: 800;
}

.backToTop {
  position: fixed;
  right: 3%;
  display: none;
  bottom: 2%;
  font-size: 1.5em;
  color: #fafafa;
  opacity: 0.2;
}

.header-shadow {
  box-shadow: 0px 5px 10px -8px #fafafa;
  padding: initial;
}

.header_main-change {
  overflow: initial;
}

.is-hide {
  display: none;
}

.unScroll {
  overflow-y: hidden;
}

.header {
  width: 100%;
  padding: 1% 5%;
  background-color: #1a1919;
  position: sticky;
  top: 0;
  overflow: hidden;
  transition: 0.5s ease;
}
@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: static;
    overflow: initial;
    border-bottom: 2px solid #CC2936;
    gap: 3em;
  }
}
.header__logo {
  justify-content: space-between;
}
.header__logo h1 {
  margin: 0;
}
@media only screen and (min-width: 576px) {
  .header__logo {
    padding: initial;
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 1024px) {
  .header__logo-phone {
    order: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .header__logo-phone a:first-child i {
    color: #CC2936;
  }
}
.header__logo-phone a:last-child {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header__logo-phone a:last-child {
    display: inline-block;
  }
}
.header__logo > a {
  width: 35%;
  margin-top: 1%;
}
@media only screen and (min-width: 1024px) {
  .header__logo > a {
    order: 0;
  }
}
.header__nav {
  position: fixed;
  top: 0;
  right: -100%;
  opacity: 0;
  height: 100vh;
  background-color: #1a1919;
  width: 100%;
  transition: all 0.3s;
  z-index: 800;
}
@media only screen and (min-width: 1024px) {
  .header__nav {
    flex: 1 0 65%;
  }
}
.header__nav-item {
  padding-bottom: 1.5%;
  border-bottom: 1px solid #CC2936;
}
.header__nav-flags {
  width: 5%;
  position: relative;
  left: 80%;
  transition: 0.3s;
}
@media only screen and (min-width: 1024px) {
  .header__nav-flags {
    width: 25%;
    left: 120%;
  }
}
.header .flex_row {
  align-items: center;
  gap: 0.4em;
}
@media only screen and (min-width: 576px) {
  .header .flex_row {
    gap: 0.6em;
  }
}
.header .flex_row i {
  line-height: 0.25em;
  vertical-align: middle;
  font-size: 5vw;
  color: #fafafa;
}
@media only screen and (min-width: 576px) {
  .header .flex_row i {
    font-size: 4.6vw;
  }
}
@media only screen and (min-width: 1024px) {
  .header .flex_row i {
    font-size: 1.9vw;
  }
}
.header .flex_row span {
  font-size: 4.8vw;
  font-style: italic;
}
@media only screen and (min-width: 576px) {
  .header .flex_row span {
    font-size: 3.8vw;
  }
}
@media only screen and (min-width: 1024px) {
  .header .flex_row span {
    font-size: 1.8vw;
  }
}

.hideMenu {
  top: -100%;
}

.showMenu {
  opacity: 1;
  right: 0%;
}

.flag-position {
  position: fixed;
  opacity: 1;
  top: -1%;
  left: 5%;
}

.header__burger {
  width: 5.5%;
  height: 5.5%;
  position: relative;
  z-index: 999;
  transition: transform 0.3s;
}
@media only screen and (min-width: 576px) {
  .header__burger {
    transform: translateX(0%);
    width: 4.5%;
  }
}
@media only screen and (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
.header__burger-position {
  position: absolute;
  top: 15.4%;
  right: 0%;
}
@media only screen and (min-width: 576px) {
  .header__burger-position {
    position: initial;
  }
}
.header__burger span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  background-color: #fafafa;
  width: 100%;
  height: 0.05em;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.3s;
}
.header__burger span::before, .header__burger span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-6px);
  display: block;
  width: 100%;
  height: 0.05em;
  background-color: #fafafa;
  transform-origin: 50% 50%;
  transition: background 0.3s, transform 0.3s;
}
@media only screen and (min-width: 576px) {
  .header__burger span::before, .header__burger span::after {
    transform: translateY(-8px);
  }
}
.header__burger span::after {
  transform: translateY(6px);
}
@media only screen and (min-width: 576px) {
  .header__burger span::after {
    transform: translateY(8px);
  }
}
.header__burger.burger span {
  background-color: transparent;
}
.header__burger.burger span::before, .header__burger.burger span::after {
  background-color: #CC2936;
}
.header__burger.burger span::before {
  transform: rotate(-45deg) translateY(0);
}
.header__burger.burger span::after {
  transform: rotate(45deg) translateY(0);
}

@media only screen and (min-width: 1024px) {
  .header__nav {
    position: initial;
    opacity: 1;
    height: initial;
  }
  .header__nav .active-link {
    font-style: italic;
    color: #cac037;
  }
}
.header__nav-list {
  margin: 50% 5% 0;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .header__nav-list {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }
}
.header__nav-list a {
  display: block;
  padding: 10% 0 1%;
  text-transform: uppercase;
  transition: 0.3s;
}
@media only screen and (min-width: 576px) {
  .header__nav-list a {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  .header__nav-list a {
    text-transform: initial;
  }
}
.header__nav-item span {
  display: inline-block;
  vertical-align: -0.2em;
  transform: rotate(0) translate(0, 0);
  transform-origin: center;
  transition: 0.3s;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item span {
    vertical-align: -0.35em;
  }
}
.header__nav-item span i {
  vertical-align: 0.1em;
}
.header__nav-item:hover span {
  transform: rotate(-90deg) translate(20%, 10%);
}
.header__nav-item:hover .header__nav__sousMenu {
  max-height: 500px;
  transition: 1s;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item:hover .header__nav__sousMenu {
    max-height: 5.5em;
    border-bottom: 4px solid #CC2936;
  }
}
@media only screen and (min-width: 1024px) {
  .header__nav-item {
    text-align: center;
    width: 100%;
    padding: 0;
    border-bottom: none;
  }
}
.header__nav__sousMenu {
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.header__nav__sousMenu li {
  border-bottom: none;
}
.header__nav__sousMenu a {
  padding: 5% 0;
}
@media only screen and (min-width: 1024px) {
  .header__nav__sousMenu {
    position: absolute;
    background-color: #1a1919;
  }
}
.header__nav a:hover {
  color: #cac037;
}
.header__nav > p {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font: bold italic 0.9em Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 576px) {
  .header__nav > p {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  .header__nav > p {
    display: none;
  }
}

.diapo {
  border: none;
  overflow: hidden;
  background-color: #1a1919;
  position: relative;
}
.diapo .flex_row {
  flex-wrap: nowrap;
}
.diapo > a {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  border: 1px solid #fafafa;
  border-radius: 50%;
  background-color: #1a1919;
  padding-bottom: 0.5%;
  opacity: 0.1;
  transition: 0.6s;
}
@media only screen and (min-width: 576px) {
  .diapo > a {
    width: 1.5em;
    height: 1.5em;
    padding-bottom: 0.1%;
  }
}
@media only screen and (min-width: 1024px) {
  .diapo > a {
    width: 2em;
    height: 2em;
  }
}
.diapo__next {
  right: 2%;
}
.diapo__prev {
  left: 2%;
}

.diapo__slide {
  flex: 1 0 100%;
  opacity: 0;
}
.diapo__slide__img {
  height: 100%;
}

.slide__dot {
  text-align: center;
  margin: 1% 0;
}
.slide__dot__item {
  cursor: pointer;
  padding: 0.1em;
  width: 1em;
  margin: 0 2px;
  background-color: #fafafa;
  display: inline-block;
  transition: 0.6s ease;
}

.slide-show {
  opacity: 1;
  transition: 0.5s ease-out;
}

.diapo__prev:hover, .diapo__next:hover {
  opacity: 0.5;
}

.active {
  background-color: #CC2936;
}

.main_bloc {
  padding: 2% 0;
}
.main_bloc p {
  margin: 0 5% 15% 5%;
  line-height: 1.5em;
}
.main_bloc article {
  align-items: center;
}
.main_bloc_logo {
  width: 5em;
  margin: 0 auto;
}

.main__content {
  position: relative;
  border: 1px solid #414141;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 5% 2%;
  margin-bottom: 3%;
  background-color: #1a1a1a;
  border-radius: 5px;
  font-size: 1rem;
}
@media only screen and (min-width: 576px) {
  .main__content {
    flex-flow: row nowrap;
  }
  .main__content:nth-child(2) div {
    margin-left: 1%;
  }
}
@media only screen and (min-width: 1024px) {
  .main__content {
    padding: 2% 2% 5%;
    justify-content: space-around;
    margin-bottom: 2%;
  }
  .main__content--change-width {
    width: 75%;
  }
}
.main__content-logo {
  margin: 10% 0;
  width: 40%;
  border-radius: 50%;
}
@media only screen and (min-width: 576px) {
  .main__content-logo {
    margin: 0;
    width: 20%;
  }
  .main__content-logo:not(img[src*=events]) {
    order: 1;
  }
  .main__content-logo--change {
    width: 20%;
  }
}
@media only screen and (min-width: 1024px) {
  .main__content-logo {
    width: 20%;
  }
  .main__content-logo--change {
    width: 13%;
  }
}
.main__content-title {
  margin-left: 2%;
  font-style: italic;
  font-size: 1.3em;
}
@media only screen and (min-width: 576px) {
  .main__content-title {
    font-size: 1.7em;
  }
}
.main__content-border {
  margin: 0 2%;
  border-left: 1px solid #CC2936;
}
.main__content-border--change {
  margin: 0 2%;
  border-right: 1px solid #CC2936;
}
.main__content-border--change :first-child {
  margin-left: 0;
}
.main__content-btn {
  border: 1px solid #414141;
  border-radius: 5px;
  background-color: #1a1717;
  color: #fafafa;
  font-style: italic;
  font-size: 0.9em;
  padding: 0.4em 3em;
}
.main__content-btn, .main__content-btn i {
  transition: 0.3s;
}
@media only screen and (min-width: 576px) {
  .main__content-btn {
    font-size: 1em;
    align-self: flex-start;
    margin-left: 5%;
  }
  .main__content-btn--right {
    align-self: flex-end;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1024px) {
  .main__content-btn {
    align-self: center;
  }
}
.main__content-btn:hover {
  border: 1px solid #fafafa;
  color: #cac037;
}
.main__content-btn:hover i {
  color: #fafafa;
}
.main__content-btn i {
  line-height: 0.5em;
  vertical-align: -0.24em;
  margin-left: 5%;
  color: #CC2936;
  font-size: 1.5em;
}
.main__content-btn--change {
  padding: 0.4rem 1rem 0.4rem 1rem;
}
.main__content-btn--change i {
  margin-left: 0;
}

.main__content-reserved {
  width: 100%;
}
.main__content-reserved .flex_row {
  justify-content: space-around;
}

.main__content a:first-child > i {
  margin-left: 0;
  margin-right: 0.1em;
}

.form {
  margin-bottom: 5%;
}
.form :nth-child(2) {
  margin: 2% 0;
}
.form__input, .form__select {
  padding: 1em;
  border-radius: 0.3em;
}
.form__input {
  width: 100%;
}
.form__select {
  width: 50%;
}

.footer {
  padding: 2% 5% 0;
  font-size: 0.9rem;
  line-height: 1.4em;
}
.footer::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.02em;
  margin-bottom: 3%;
  background-color: rgba(250, 250, 250, 0.5);
}
.footer .flex_row {
  flex-wrap: nowrap;
  gap: 1%;
}
@media only screen and (min-width: 576px) {
  .footer {
    font-size: 1rem;
  }
  .footer--reverse {
    order: 1;
  }
  .footer__icon--center {
    justify-content: center;
  }
  .footer--space-between {
    margin-bottom: 20%;
  }
  .footer .flex_row {
    gap: 3%;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__icon--center {
    justify-content: flex-start;
  }
}
.footer-title {
  color: #CC2936;
  margin-bottom: 2%;
}
@media only screen and (min-width: 576px) {
  .footer-title {
    margin-bottom: 4%;
  }
}
.footer__nav {
  margin-top: 2%;
}
@media only screen and (min-width: 576px) {
  .footer__nav {
    text-align: left;
  }
}
.footer > p {
  margin-top: 5%;
  font-size: 0.65em;
  text-align: center;
  text-transform: uppercase;
  color: #CC2936;
}
.footer > p > a {
  color: #CC2936;
}
.footer-icon {
  font-size: 1.8rem;
}
.footer > div.flex_row {
  flex-direction: column;
}
@media only screen and (min-width: 576px) {
  .footer > div.flex_row {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  .footer > div.flex_row {
    justify-content: space-around;
    text-align: start;
  }
}/*# sourceMappingURL=style..css.map */