@font-face {
  font-family: "Sansation";
  src: url("font/Sansation_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #000;
}

body:not(h4) {
  color: #fafafa;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

nav ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fafafa;
}

.flex_row {
  display: flex;
  flex-flow: row nowrap;
}

.flex_col {
  display: flex;
  flex-flow: column wrap;
}

.header {
  width: 100%;
  padding: 2% 0% 4%;
  background-color: #000;
  position: sticky;
  overflow: hidden;
  top: 0;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .header {
    padding: initial;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 2%;
    position: static;
    overflow: initial;
    border-bottom: 2px solid #CC2936;
    gap: 3em;
  }
}
.header__annonce {
  display: none;
  position: fixed;
  font-size: 0.65rem;
  width: 100%;
  top: 0;
  -moz-animation: slide 15s linear infinite;
  -webkit-animation: slide 15s linear infinite;
  animation: slide 15s linear infinite;
}
.header__annonce span {
  font-style: italic;
}
@keyframes slide {
  from {
    transform: translateX(-40%);
  }
  to {
    transform: translateX(100%);
  }
}
.header__logo {
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1% 2%;
}
.header__logo h1 {
  margin: 0;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .header__logo {
    padding: initial;
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 1024px) {
  .header__logo {
    flex-flow: row wrap;
    padding: 0;
  }
}
.header__logo > a {
  width: 50%;
  margin-top: 1%;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .header__logo > a {
    width: 23%;
  }
}
@media only screen and (min-width: 1024px) {
  .header__logo > a {
    width: 30%;
  }
}
.header__nav {
  position: absolute;
  top: 0;
  opacity: 0;
  height: 100vh;
  background-color: #000;
  width: 100%;
  transition: 0.3s;
}
@media only screen and (min-width: 1024px) {
  .header__nav {
    flex: 1 0 65%;
  }
}
.header__nav-item {
  padding-bottom: 1.5%;
  border-bottom: 1px solid #CC2936;
}
.header .flex_row {
  align-items: center;
  gap: 0.4em;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .header .flex_row {
    gap: 0.6em;
  }
}
.header .flex_row i {
  line-height: 0.25em;
  vertical-align: middle;
  font-size: 6.8vw;
  color: #CC2936;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .header .flex_row i {
    font-size: 4.6vw;
  }
}
@media only screen and (min-width: 1024px) {
  .header .flex_row i {
    font-size: 1.9vw;
  }
}
.header .flex_row span {
  font-size: 4.8vw;
  font-style: italic;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .header .flex_row span {
    font-size: 3.8vw;
  }
}
@media only screen and (min-width: 1024px) {
  .header .flex_row span {
    font-size: 1.8vw;
  }
}

.header, .header__logo :first-child, .header .flex_row a {
  z-index: 800;
}

/* Classe appeler en JS */
.header-shadow {
  box-shadow: 0px 5px 10px -8px #fafafa;
  padding: initial;
}

.header_main-change {
  overflow: initial;
}

.is-hide {
  display: none;
}

.moveMenu {
  opacity: 1;
  z-index: 800;
}

.backToTop {
  position: fixed;
  right: 2.5%;
  display: none;
  bottom: 1.25%;
  font-size: 1.5em;
  color: #fafafa;
  opacity: 0.2;
}

/* ****** */
.header__burger {
  width: 6.5vw;
  margin-left: 12%;
  margin-right: 4%;
  z-index: 999;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .header__burger {
    width: 6%;
    margin-left: 8%;
  }
}
@media only screen and (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
.header__burger-position {
  position: absolute;
  margin-top: 0.5em;
  top: 8.5%;
  right: 1.8%;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .header__burger-position {
    margin-top: 0;
    position: initial;
  }
}
.header__burger span {
  display: block;
  transform: rotate(0);
  transition: 0.3s;
  background-color: #fafafa;
  padding: 0.05em;
  border-radius: 2px;
}
.header__burger__check:checked + label #span2, .header__burger #check {
  display: none;
}
.header__burger__check:checked + label #span1 {
  transform: rotate(-45deg);
}
.header__burger__check:checked + label #span3 {
  transform: rotate(45deg);
}

#span2 {
  margin: 15% 0%;
}

@media only screen and (min-width: 1024px) {
  .header__nav {
    position: initial;
    opacity: 1;
    height: initial;
    padding: 1% 0;
    background-color: #000;
  }
  .header__nav .active-link {
    transform: scale(1.5) translateY(-8%);
    font-style: italic;
    color: #cac037;
  }
}
@media only screen and (min-width: 1024px) {
  .header__nav-bottom {
    padding-bottom: 0.25em;
  }
}
.header__nav-list {
  margin: 50% 5% 0;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .header__nav-list {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }
}
.header__nav-list a {
  display: block;
  padding: 10% 0 1%;
  text-transform: uppercase;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .header__nav-list a {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  .header__nav-list a {
    text-transform: initial;
    padding: 10% 0 1%;
  }
}
.header__nav__sousMenu {
  text-align: center;
  background-color: #000;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s;
}
.header__nav__sousMenu li {
  border-bottom: none;
}
.header__nav__sousMenu a {
  padding: 5% 0;
}
@media only screen and (min-width: 1024px) {
  .header__nav__sousMenu a {
    padding: 5% 0;
  }
}
@media only screen and (min-width: 1024px) {
  .header__nav__sousMenu {
    position: absolute;
    max-height: 0px;
    width: 100%;
    opacity: initial;
    background-color: #000;
    overflow: hidden;
    padding: 0;
    z-index: 999;
  }
}
.header__nav-item span {
  display: inline-block;
  vertical-align: -0.2em;
  transform: rotate(0) translate(0, 0);
  transform-origin: center;
  transition: 0.3s;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item span {
    vertical-align: -0.35em;
  }
}
.header__nav-item span i {
  vertical-align: 0.1em;
}
.header__nav-item:hover span {
  transform: rotate(-90deg) translate(20%, 10%);
}
.header__nav-item:hover .header__nav__sousMenu {
  max-height: 500px;
  transition: 0.7s;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item:hover .header__nav__sousMenu {
    padding-top: 0.5em;
    max-height: 5.5em;
    border-bottom: 4px solid #CC2936;
    transition: 0.3s;
  }
}
@media only screen and (min-width: 1024px) {
  .header__nav-item {
    text-align: center;
    width: 100%;
    padding: 0;
    border-bottom: none;
    position: relative;
  }
}
.header__nav a:hover {
  color: #cac037;
}
.header__nav > p {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font: bold italic 0.9em Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .header__nav > p {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  .header__nav > p {
    display: none;
  }
}

.diapo {
  border: none;
  overflow: hidden;
  background-color: #000;
  position: relative;
}
.diapo > a {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  border: 1px solid #fafafa;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.1;
  transition: 0.6s;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .diapo > a {
    width: 1.5em;
    height: 1.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .diapo > a {
    width: 2em;
    height: 2em;
  }
}
.diapo__next {
  right: 2%;
}
.diapo__prev {
  left: 2%;
}

.diapo__slide {
  flex: 1 0 100%;
  opacity: 0;
}
.diapo__slide__img {
  height: 100%;
}

.slide__dot {
  text-align: center;
  margin: 1% 0;
}
.slide__dot__item {
  cursor: pointer;
  padding: 0.1em;
  width: 1em;
  margin: 0 2px;
  background-color: #fafafa;
  display: inline-block;
  transition: 0.6s ease;
}

.slide-show {
  opacity: 1;
  transition: 0.5s ease-out;
}

.diapo__prev:hover, .diapo__next:hover {
  opacity: 0.5;
}

.active {
  background-color: #CC2936;
}

.main_bloc {
  padding: 2% 0;
}
.main_bloc p {
  margin: 0 5% 15% 5%;
  font-size: 0.9em;
  line-height: 1.5em;
}
.main_bloc article {
  align-items: center;
}
.main_bloc img[src*=handicap] {
  margin-bottom: 10%;
}

.main__content {
  align-items: center;
  width: 100%;
  padding: 10% 2%;
  margin-bottom: 5%;
  background-color: #111;
  border-radius: 20px;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .main__content {
    flex-flow: row nowrap;
  }
  .main__content p {
    font-size: 1em;
  }
  .main__content--change-width {
    width: 75%;
  }
}
@media only screen and (min-width: 1024px) {
  .main__content {
    padding: 2% 2% 5%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
  }
  .main__content--change-width {
    width: 50%;
  }
}
.main__content-logo {
  margin-bottom: 10%;
  width: 25%;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .main__content-logo {
    margin-bottom: 0;
    width: 20%;
  }
  .main__content-logo:not(img[src*=logo-eve]) {
    order: 1;
  }
  .main__content-logo--change {
    width: 20%;
  }
}
@media only screen and (min-width: 1024px) {
  .main__content-logo {
    margin-bottom: 0;
    width: 15%;
  }
  .main__content-logo:not(img[src*=logo-eve]) {
    order: 1;
  }
  .main__content-logo--change {
    width: 13%;
  }
}
.main__content-title {
  margin-left: 2%;
  font: italic 1.3em Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .main__content-title {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 1024px) {
  .main__content-title {
    font-size: 1.7em;
  }
}
.main__content-border {
  margin: 0 2%;
  border-left: 3px solid #CC2936;
}
.main__content-border--change {
  margin: 0 2%;
  border-right: 3px solid #CC2936;
}
.main__content-border--change :first-child {
  margin-left: 0;
}
.main__content-btn {
  border: 1px solid #CC2936;
  border-radius: 5px;
  background-color: #222;
  color: #fafafa;
  font: italic 1.3em Helvetica, Arial, sans-serif;
  padding: 0.4em 3em;
  font-size: 0.9em;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .main__content-btn {
    font-size: 1em;
    align-self: flex-start;
    margin-left: 5%;
  }
  .main__content-btn--right {
    align-self: flex-end;
    margin-right: 5%;
  }
}
.main__content-btn:hover {
  border: 1px solid #fafafa;
  color: #cac037;
}
.main__content-btn:hover i {
  color: #fafafa;
}
.main__content-btn i {
  line-height: 0.5em;
  vertical-align: -0.25em;
  margin-left: 5%;
  color: #CC2936;
  font-size: 1.5em;
}
.main__content-btn--change {
  padding: 0.4rem 1rem 0.4rem 1rem;
}
.main__content-btn--change i {
  margin-left: 0;
}

.cta_btn, .cta_btn i {
  transition: 0.5s;
}

hr {
  width: 90%;
  margin: 0 auto;
}

.footer {
  padding: 2% 5% 0;
  font-size: 0.9em;
  line-height: 1.4em;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .footer {
    font-size: 1em;
  }
  .footer--reverse {
    order: 1;
  }
  .footer__icon--center {
    justify-content: center;
  }
  .footer--space-between {
    margin-bottom: 20%;
  }
}
@media only screen and (min-width: 1024px) {
  .footer--space-between {
    margin-bottom: 20%;
  }
  .footer--reverse {
    order: 1;
  }
}
.footer-title {
  color: #CC2936;
  margin-bottom: 2%;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .footer-title {
    margin-bottom: 4%;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-title {
    margin-bottom: 4%;
  }
}
.footer__nav {
  margin-top: 2%;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .footer__nav {
    text-align: left;
  }
}
.footer > p {
  margin-top: 5%;
  font-size: 0.65em;
  text-align: center;
  text-transform: uppercase;
  color: #CC2936;
}
.footer > p > a {
  color: #CC2936;
}
.footer .flex_row {
  -webkit-gap-gap: 3%;
  gap: 3%;
}
.footer-icon {
  font-size: 1.8rem;
}
.footer > div.flex_row {
  flex-direction: column;
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  .footer > div.flex_row {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  .footer > div.flex_row {
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
  }
}/*# sourceMappingURL=style..css.map */