                                    /************************************************
                                    *              REGLES COMMUNES                  *           
                                   *************************************************/
 

@font-face {
    font-family: 'Sansation';
    src: url('font/Sansation_Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root{
    --bg-color-black: #000;
    --bg-color-d-black:#111;
    --bg-color-btn: #222;
    --bg-color-light:#fafafa;
    --bg-color-red:#CC2936;
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: var(--bg-color-black);
}

body:not(h4){
    color: var(--bg-color-light);
}

img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

nav ul {
    padding-left: 0;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--bg-color-light);
}

.header_logo h1{
    margin: 0; 
}  

.flex_row{
    display: flex;
    flex-flow: row nowrap;
}

.flex_col{
    display: flex;
    flex-flow: column wrap;
}

/* *************************************************************************************************************************************
*                                                               ACCUEIL                                                                *
****************************************************************************************************************************************/

                                                /**************************************
                                                *                HEADER               *
                                                ***************************************/

 
header{
    width: 100%;
    padding: 2% 0% 4%;
    background-color: var(--bg-color-black);
    position:sticky;
    overflow: hidden;
    top: 0;
}

header, .header_logo :first-child, header .flex_row a{
    z-index: 800;
}
/* Classe appeler en JS */
.header-shadow{
    box-shadow:0px 5px 10px -8px var(--bg-color-light) ;
    padding: initial;
}

 .header_main-change{
    overflow: initial;
}

.annonce-display-change{
    display: none;
} 

 /* ****** */

 .header_logo{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding:  1% 2%;
}


.display-phone{ 
    display: none;
}

header .flex_row span{
    font-size: 4.8vw;
    font-style: italic;
}

.flex_row i[class*="circle-phone"] {
    line-height: .25em;
    vertical-align: middle;
    font-size: 6.8vw;
    color: var(--bg-color-red);
}

 header .flex_row{
    gap: .4em;
    align-items: center;
 }

.header_logo > a{
    width:  50%;
    margin-top: 2%;
} 



   
                                    /*                Annonce              *
                                     ***************************************/

#annonce{
    position: fixed;
    font-size: .65rem;
    width: 100%;
    top: 0;
    -moz-animation: slide 15s  linear  infinite;
    -webkit-animation: slide 15s  linear  infinite;
    animation: slide 15s  linear  infinite;
}

#annonce span{
    font-style: italic;
 }

 @keyframes slide {
    from{transform:translateX(-40%)}
    to{transform: translateX(100%);}
}  

                                                    /* MENU BURGER */

                                                 
.burger-position{
    position: absolute;
    margin-top: .6em;
    top:8.5%;
    right: 1.8%;  
}

#burger{
    width: 6.5vw; /*25px */
    margin-left: 12%;
    margin-right: 4%;
    cursor: pointer;
    z-index: 999;
} 
 
#check:checked + label #span2, #check{
    display: none;
} 

#burger label > span{
    display: block;
    transform: rotate(0);
    transition: 300ms;
 }

 #check:checked + label #span3{
    transform: rotate(45deg);
}

#check:checked + label #span1{
    transform: rotate(-45deg);
}

#span1, #span2, #span3{
    background-color: var(--bg-color-light);
    padding: .05em;
    border-radius: 2px;
}

#span2{
    margin: 15% 0%;
}


                                                        /* NAVIGATION */


 header > nav {
    
    position: absolute;
    top: 0;
    opacity: 0;
    height: 100vh;
    background-color:  var(--bg-color-d-black);
    width: 100%;
    transition: 300ms;
   
}   

/* Appeler en JS */
.moveMenu{
    opacity: 1;
    z-index: 800;
}
    /******/

#nav_menu > p{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font: bold italic .9em Helvetica, Arial, sans-serif; ;
}

#nav_menu ul a{
    display: block;
    padding: 10% 0 1%;
    text-transform: uppercase;
}

#nav_menu > ul{
    margin: 50% 5% 0;
} 

header nav ul > li{
    padding-bottom: 1.5%;
    border-bottom: 1px solid var(--bg-color-red);
} 

                                                        /* MENU DEROULANT */

#nav_menu > ul{
    position: relative;
}

/* Animation chevron */
#nav_menu li span{
    display: inline-block;
    line-height: -1em;
    vertical-align: -.05em;
    transform: rotate(0) translate(0, 0);
    transform-origin: center;
    transition: 600ms;
}
#nav_menu li span i{
   vertical-align: -.10em;
}

 #nav_menu li:hover span{
    transform: rotate(-90deg) translate(20%, 10%);
} 

#nav_menu a:hover{
    color: #cac037
}

.header_nav_sousMenu{
    text-align: center;
    background-color: var(--bg-color-d-black);
    max-height: 0;
    opacity: 0;
    /* z-index: 999; */
}

#nav_menu li:hover .header_nav_sousMenu {
    max-height: 100%;
    opacity: 1;
    -moz-transition: 1.5s;
    -webkit-transition: 1.5s;
    transition: 1.5s;
} 

.header_nav_sousMenu > li {
    border-bottom: none;
}   

                                                /*********************************
                                                *           MAIN ACCUEIL         *
                                                *********************************/

.diapo{
    border: none;
    overflow: hidden;
    background-color: var(--bg-color-black);
    position: relative;
}
.main_diapo{
   
}
.main_diapo_slide{
    flex: 1 0 100%;
    opacity: 0;
}

.main_diapo_slide img{
    height: 100%;
   
}

.slide-show{
    opacity: 1;
    transition: 500ms ease-out;
}  

.slide-dot{
    text-align: center;
    margin: 1% 0;
}
.dot{
    cursor: pointer;
    padding: .1em;
    width: 1em;
    margin: 0 2px;
    background-color: var(--bg-color-d-light);
    display: inline-block;
    transition:  0.6s ease;
}

.active{
    background-color: var(--bg-color-red);
}
.next{
    right: 2%;
}

.prev{
    left: 2%;
}

.diapo > a{
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.6vw;
    height: 4.6vw;
    font-size: 3.17vw;
    text-align: center;
    border: 1px solid white;
    background-color: transparent;
    opacity: .3;
    border-radius: 50%;
    color: black;
}

.prev:hover, .next:hover{
    opacity: 1;
}
                                                /*********************************
                                                *            SECTION 1               *
                                                **********************************/

.main_bloc{
   padding: 2%;
}

.main_content{
    align-items: center;
    width: 100%;
    padding: 10% 2%;
    margin-bottom: 5%;
    background-color: var(--bg-color-d-black);
}

.main_logo{
    margin-bottom: 10%;
    width: 25%;
}

.main_title{
    margin-left: 2%;
    font: italic 1.3em Helvetica, Arial, sans-serif;
}

.main_border{
    margin: 0 2%;
    border-left: 3px solid var(--bg-color-red);
}

.main_border_change{
    margin: 0 2%;
    border-right: 3px solid var(--bg-color-red);
}

.main_border_change :first-child{
    margin-left: 0;
}

.main_bloc p{
    margin: 0 5% 15% 5%;
    font-size: .9em;
    line-height: 1.5em;
}

.main_bloc article{
    align-items: center;
}

.cta_btn{
    border: 1px solid var(--bg-color-red);
    border-radius: 5px;
    background-color: var(--bg-color-btn);
    color: var(--bg-color-light);
    font: italic 1.3em Helvetica, Arial, sans-serif;
    padding: .4em 3em;
    font-size: .9em;
}

.cta_btn, .cta_btn i{
    transition: .4s;
}

.cta_btn:hover{
     border: 1px solid var(--bg-color-light);
     color: #cac037;
}

.cta_btn i{
    line-height: .5em;
    vertical-align: -.25em;
    margin-left: 5%;
    color: var(--bg-color-red);
    font-size: 1.5em;
}

.cta_btn:hover  i{
    color:var(--bg-color-light);
}

.cta_btn-change{
    padding: .3rem 1rem .3rem 1rem;
}

 .cta_btn-change i{
    margin-left: 0;
}

.main_bloc img[src*="handicap"]{
    margin-bottom:10%;
}

hr{
    width:90%;
    margin: 0 auto;
}

                                                /*************************
                                                *       FOOTER           *
                                                **************************/

.main_footer{
    padding: 5% 5% 1%;
    font-size: .9em;
    line-height: 1.4em;
}

footer > div.flex_row{
    flex-direction: column;
   
}

.main_footer h4{
    color: var(--bg-color-red);
    margin-bottom: 2%;
}

 footer .flex_row{
    -webkit-gap-gap: 3%;
    gap: 3%;
}

footer .flex_col a >i{
    font-size: 1.8rem;
}

.main_footer nav{
    margin-top: 2%;
}

.main_footer > p, .main_footer p > a{
    color: var(--bg-color-red);
}

.main_footer > p{
    margin-top: 5%;
    font-size: .65em;
    text-align: center;
    text-transform: uppercase;
}


/**************************************************************************************************************************************
*                                                                                                                                     *
*                                                           MEDIA QUERIES                                                             *
*                                                                                                                                     *
***************************************************************************************************************************************/

                                                    /*************************************
                                                    *               TABLETTE             *
                                                    **************************************/

@media only screen and (min-width:576px) and (max-width:1023px){
   
/* *************************************************************************************************************************************
*                                                               ACCUEIL                                                                *
****************************************************************************************************************************************/

                                                /**************************************
                                                *                HEADER               *
                                                ***************************************/
    #nav_menu ul a, .main_footer,
    .main_content p, #nav_menu > p{
        font-size: 1em;
    }
    header{
        padding: initial;
    }

    .flex_row i[class*="circle-phone"]{
        font-size: 4.6vw;
        color: var(--bg-color-red);
      
    }
    header .flex_row span{
        font-size: 3.8vw;
        font-style: italic;
    }
    header .flex_row{
        gap: .6em;
    }
    header .flex_col{
        flex-direction: row;
    }
    
    .header_logo > a{
        width:  23%;
    }

    #burger{
        margin-left: 8%;
    margin-top: 0;
    }

    .burger-position{
        position: initial;
    }
   
    

                                                /*********************************
                                                *            SECTION 1            *
                                                **********************************/

    
    
    
    .main_content .main_logo:not(img[src*="logo-eve"]){
        order: 1;
    }

    .main_logo{
        margin-bottom: 0;
        width: 20%;
    }
    div.main_logo{
        width: 60%;
    }

    .main_content{
        flex-wrap: nowrap;
        flex-direction: row;
    }
  
    .main_content h3{
        font-size: 1.7em;
    }

    

    .main_border button{
        align-self: flex-start;
        margin-left:5%;
    }

    .main_border_change button {
        align-self: flex-end;
        margin-right: 5%
    }

    .cta_btn{
        font-size: 1em;
    }

                                                    /*************************
                                                    *       FOOTER           *
                                                    **************************/
    footer > div.flex_row{
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }

   .main_footer h4{
        margin-bottom: 4%;
    }
   
   footer nav.flex_col{
        text-align: left;
    }

    footer .flex_col a >i{
        font-size: 1.8rem;
    }    

    footer nav.flex_col, .reverse-order > div:last-child{
        margin-top: 20%;
    }

    .reverse-order{
        order: 1;
    }

    .reverse-order .flex_row{
        justify-content: center;
    }

}

                                                    /*************************************
                                                    *               DESKTOP             *
                                                    **************************************/

@media only screen and (min-width: 1024px){
       
/* *************************************************************************************************************************************
*                                                               ACCUEIL                                                                *
****************************************************************************************************************************************/

                                                /**************************************
                                                *                HEADER               *
                                                ***************************************/

    #nav_menu ul a, .main_footer,
    .main_content p, #nav_menu > p{
        font-size: 1rem;
    }

    header .flex_col{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 3em;
        flex: 1 1 50%;
    }

    header{
        display: flex;
        align-items: center;
        padding: 0 2%;
        position: static;
        overflow: initial;
    }

    .header_logo {
        padding:  0;
    }

    .header_logo > a{
        width:  30%;
    }
    
    #burger{
        display: none;
    }

    .flex_row i[class*="circle-phone"]{
        font-size: 1.9vw;
        color: var(--bg-color-red);
    }

    header .flex_row span{
        font-size: 1.8vw;
        font-style: italic;
    }

    #nav_menu{
        flex: 1 0 65%;
    }
    #nav_menu > ul{
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    
    }
    #nav_menu li span {
     line-height: -1em;
     vertical-align: -.15em;
    
    }
   
   header  #nav_menu li{
        text-align: center;
        width: 100%;
        padding: 0;
        border-bottom: none;
        position: relative;
    }


    header nav ul.header_nav_sousMenu {
    position: absolute;
    max-height: 0px;
    width: 100%;
    opacity: initial;
    background-color: var(--bg-color-black);
    overflow: hidden;
    padding: 0;
    transition: .8s ease;
   z-index: 999;    /** Afin de se superposer aux images en absolute **/
    }

    #nav_menu li:hover .header_nav_sousMenu {
       max-height: 5.5em;
       border-bottom: 4px solid var(--bg-color-red);
       transition: .8s ease;
    }
   

    #nav_menu ul a{
        text-transform: initial;
        padding:  5% 0;
    
    }
    
    .border-link{
       border-bottom: 2px solid var(--bg-color-red);
       color: #cac037;
    }

    .header_nav_sousMenu li{
        padding: .5em 5em;
    }

    #nav_menu  > ul  li:nth-child(2) a{
     padding-bottom: .25em;
    }

    #nav_menu{
        position: initial;
        opacity: 1;
        height: initial;
        padding: 1% 0;
        background-color:  var(--bg-color-black);
    }   

    #nav_menu > P{
        display: none;
    }

   .main_bloc{
   padding: 2% 0;
   }
    .main_content{
       padding: 2% 2% 5%;
        flex-wrap:nowrap;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2%;
    }

    .main_content .main_logo:not(img[src*="logo-eve"]){
        order: 1;
    }

    .main_content div{
        width: 50%;
    }

    .main_logo{
        margin-bottom: 0;
        width: 15%;
    }

    .main_title{
       font-size: 1.8rem;
    }
    div.main_logo{
        width: 13%;
    }

    .main_border button{
        margin-left:5%;
        
    }

    .main_border button {
        align-self: center;
        margin-right: 5%
    }

    .main_border_change button {
        align-self: center;
        margin-right: 5%
    }

    /* FOOTER */
    .main_footer{
        padding-top: 2%;
    }
    footer > div.flex_row{
        flex-direction: row;
        justify-content: space-around;
        text-align: start;
    }

   .main_footer h4{
        margin-bottom: 4%;
    }
   
   footer nav.flex_col{
        text-align: left;
    }

    footer .flex_col a >i{
        font-size: 1.8rem;
    }    

    footer nav.flex_col, .reverse-order > div:last-child{
        margin-top: 20%;
    }

    .reverse-order{
        order: 1;
    }

    .main_footer > p{
        margin-top: 2%;
    }
}