// Variables color

$color-gradient:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(66,0,0,1) 100%);
$color-sousMenu: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(19,0,0,1) 100%);
$color-secondary :#131010;
$color-primary :#1a1919;
$color-btn:linear-gradient(90deg, rgba(133,2,2,1) 0%, rgba(19,16,16,1) 50%, rgba(19,16,16,1) 100%);
$color-btnShadow : #420000;
$color-light: #c9c9c9;
$color-red: #850202;
$color-hover: #c7c27a;
$color-footer:#131010;
$duration: .5s;