
.footer {
    font-size: .9rem;
    line-height: 1.4em;
    & .flex_row:first-child {
        background-color: $color-footer;
        flex-direction: row;
        padding: 5% 0;
        @include tablet-only {
            padding: 2% 0  0;
        }
    }
    &_logo:nth-child(2){
        // width: 5em;
    }
    &_logo {
        width: 5em;
        margin: 0 auto;
    }
    .flex_row {
        flex-wrap: nowrap;
    }
    > .flex_col {
        padding: 0% 3%;
        background-color: $color-footer;
    }
   
    &-title {
        color: $color-red;
        margin-bottom: 2%;
        @include tablet-only {
         margin: 0;
        }
    }
    &__nav {
        background-color: $color-footer;
        padding: 2% 3%;
       @include tablet-only {
        padding: 0% 2%;
            &  ul {
                display: flex;
                justify-content: space-around;
            }
        }
    }
    >p {
        font-size: .65em;
        text-align: center;
        text-transform: uppercase;
        color: $color-red;
        & > a {
            color: $color-red;
        }
    }
    &-icon {
        font-size: 1.8rem;
    }
    > div.flex_row {
        flex-direction: column;
        @include desktop-only {
            text-align: start;
        }
    }
    @include tablet-only {
        > .flex_col {
            padding: 1% 5%;
            background-color: $color-footer;
        }
        font-size: 1rem;
        &--reverse {
            flex-direction: row ;
            order: 1;
            justify-content: space-between;
            text-align: center;
       }
        &--space-between {
            align-self: center;
            & .flex_row {
                justify-content: center;
                gap: 10%;
            }
        }
    }
    @include desktop-only {
       &__icon--center{justify-content: flex-start;}
    }
}













