
.footer {
    
    background-color: $color-primary;
    font-size: .9rem;
    line-height: 1.4em;
    & .flex_row:first-child {
        flex-direction: row;
        padding-bottom: 5%;
        @include tablet-only {
            padding-bottom: 2%;
        }
    }
    @include desktop-only{
        background: $color-gradient;
    }

    &_logo > *{
        width: 3em;
    }
    &_logo :nth-child(2){
        width: 6em;
    }
    &_logo {
        justify-content: center;
        align-items: center;
       gap: 5%;
    }

    .flex_row {
        flex-wrap: nowrap;
    }
    > .flex_col {
        padding: 0% 3%;
        background-color: $color-primary;
        @include desktop-only{
            background: $color-gradient;
        }
    }

   
    &-title {
        color: $color-red;
        margin-bottom: 2%;
        @include tablet-only {
        //  margin: 0;
        }
    }
    &__nav {
        background-color: $color-primary;
        padding: 2% 3%;
       @include tablet-only {
        padding: 2% 0% 0;
            &  ul {
                display: flex;
                justify-content: space-around;
            }
        }
        @include desktop-only{
            background: $color-gradient;
        }
    }
    >p {
        font-size: .65em;
        text-align: center;
        text-transform: uppercase;
        color: $color-red;
        & > a {
            color: $color-red;
        }
    }
    &-icon {
        font-size: 1.8rem;
    }
    > div.flex_row {
        flex-direction: column;
        @include desktop-only {
            text-align: start;
        }
    }
    &--space-between .flex_row{
        gap: 2%;
    }
    @include tablet-only {
        > .flex_col {
            padding: 2% 5% 0;
            background-color: $color-primary
        }
        font-size: 1rem;
        &--reverse {
            flex-direction: row ;
            order: 1;
            justify-content: space-between;
            text-align: center;
       }
        &--space-between {
            align-self: center;
            & .flex_row {
                justify-content: center;
                gap: 5%;
            }
        }
    }
    @include desktop-only {
       &__icon--center{justify-content: flex-start;}
    }
}













