.footer{
    padding: 2% 5% 0;
    font-size: .9em;
    line-height: 1.4em;
    @include tablet-only{
        font-size: 1em;
        &--reverse{order: 1;}
        &__icon--center{justify-content: center;}
        &--space-between{margin-bottom: 20%;}
    }
    @include desktop-only{
        &--space-between{margin-bottom: 20%;}
        &--reverse{order: 1;}
    }
    &-title{
        color: $color-red;
        margin-bottom: 2%;
        @include tablet-only{
            margin-bottom: 4%;
        }
        @include desktop-only{
            margin-bottom: 4%;
        }
    }
    &__nav{
        margin-top: 2%;
        @include tablet-only{
            text-align: left;
        }
    }
    & > p{
        margin-top: 5%;
        font-size: .65em;
        text-align: center;
        text-transform: uppercase;
        color: $color-red;
        & > a{
            color: $color-red;
        }
    }
    .flex_row{
        -webkit-gap-gap: 3%;
        gap: 3%;
    }
    &-icon{
        font-size: 1.8rem;
    }
    & > div.flex_row{
        flex-direction: column;
        @include tablet-only{
            flex-direction: row;
            justify-content: space-evenly;
            text-align: center;
        }
        @include desktop-only{
            flex-direction: row;
            justify-content: space-around;
            text-align: start;
        }
    }
}













