// Font 
@font-face {
    font-family: 'Sansation';
    src: url('font/Sansation_Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src:url('font/Sansation_Bold.ttf')format('truetype');
    font-weight: bold;
}

// Variables
$color-gradient:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(66,0,0,1) 100%);
$color-secondary :/*#0C0C0C;#0f0d0d;*/#131010;/* #000000;/*#1d1e1f;*/
$color-primary : /*#0f0f0f*//*#131212*/ #1a1919;/*#000000;*/
$color-btn : /*#1a1717;*//*#520008*/#420000;
$color-light: /*#fafafa*/#c9c9c9;
$color-red: #850202;
$color-hover: #c7c27a;
$color-footer:#131010;
$duration: .5s;

// Mixins
@mixin tablet-only{
    @media only screen and (min-width: 576px){
        @content;
    }
}
@mixin desktop-only{
    @media only screen and (min-width: 1024px){
        @content;
    }
}

*{
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: $color-primary;
}

body:not(h4){
    color: $color-light;
}

img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

nav {
    ul {
        padding-left: 0;
    }
} 

ul {
    li {
        list-style-type: none;
    }
}

a{
    text-decoration: none;
    color: $color-light;
}

a:hover{
    color: $color-hover;
    transition: $duration;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}   

.flex_row{
    display: flex;
    flex-flow: row wrap;
}

.flex_col{
    display: flex;
    flex-flow: column wrap;
}

.header, .header__logo :first-child{
    z-index: 800;
}

// Classes JS
.backToTop{
    position:fixed;
    right:3%;
    display:none;                               
    bottom:2%;
    font-size :1.5em;
    color :$color-light;
    opacity: .2;
}

.header-shadow{
    box-shadow:0px 5px 10px -8px $color-light ;
    padding: initial;
}

.header_main-change{
    overflow: initial;   
}

.is-hide{
    display: none;
} 

.unScroll{
    overflow-y: hidden;
}