
// HEADER

.header{
    width: 100%;
    padding: 1% 5% ;
    background-color: $color-primary;
    position:sticky;
    top: 0;
    overflow: hidden;
    transition: .5s ease;

    @include desktop-only{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        // padding: 0 2%;
        position: static;
        overflow: initial;
        border-bottom: 2px solid $color-red;
        gap: 3em;    
    }
    &__logo{
        justify-content: space-between;
        h1{
            margin: 0; 
        }
        @include tablet-only{
            padding: initial;
            flex-flow: row wrap;
        }
    }
    &__logo-phone{
        @include desktop-only{
            order: 1;
        }
    }
    &__logo-phone a:first-child i{
        @include desktop-only{
            color: $color-red;
        }
    }
    &__logo-phone a:last-child{
        display: none;
        @include desktop-only{
            display: inline-block;
        }
    }
   
    &__logo > a{
        width:35%;
        margin-top: 1%;
        @include desktop-only{
            order: 0;
        }
    }
    &__nav{
        position: fixed;
        top: 0;
        right: -100%;
        opacity: 0;
        height: 100vh;
        background-color: $color-primary;
        width: 100%;
        transition:  all $duration ;
        z-index: 800;
       
        @include desktop-only{
            flex: 1 0 65%;
        }
         &-item{
                padding-bottom: 1.5%;
                border-bottom: 1px solid $color-red;
            }
    }
    &__nav-flags{
        width: 5%;
        position: relative;
        left: 80%;
        transition: $duration;
        @include desktop-only{
            width: 25%;
            left: 120%;
        }
    }

    .flex_row{
        align-items: center;
        gap: .4em;
        @include tablet-only{
            gap: .6em;
        }
        i{
            line-height: .25em;
            vertical-align: middle;
            font-size: 5vw;
            color: $color-light;
            @include tablet-only{
                font-size: 4.6vw;
            }
            @include desktop-only{
                font-size: 1.9vw;
            }
        }
        span{
            font-size: 4.8vw;
            font-style: italic;
            @include tablet-only{
                font-size: 3.8vw;
            }
            @include desktop-only{
                font-size: 1.8vw;
            }
        }
    }
    
}

.header, .header__logo :first-child/*, .header .flex_row a*/{
    z-index: 800;
}

.hideMenu{
    top: -20%;
}

.header-shadow{
    box-shadow:0px 5px 10px -8px $color-light ;
    padding: initial;
}

.header_main-change{
    overflow: initial;   
}

.is-hide{
    display: none;
} 

.showMenu{
    opacity: 1;
    right: 0%;
   
}

.flag-position{
    position: fixed;
    opacity: 1;
    top: -1%;
    left:5%;
}

.unScroll{
    overflow-y: hidden;
}
// MENU BURGER
.header__burger{
    width: 5.5%;
    height: 5.5%;
    position: relative;
    z-index: 999;
    transition: transform $duration;
    @include tablet-only{
      transform: translateX(0%);
      width: 4.5%;
    }
    @include desktop-only{
        display: none;
    }
    &-position{
        position: absolute;
        top: 15.4%;
        right: 0%;
        @include tablet-only{
            position: initial;
        }
    }
    span{
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        background-color: $color-light;
        width: 100%;
        height: .05em;
        transform: translateX(-50%) translateY(-50%);
        transition: $duration;
        &::before, &::after{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            transform: translateY(-6px);
            display: block;
            width: 100%;
            height: .05em;
            background-color: $color-light;
            transform-origin: 50% 50%;
            transition: background $duration, transform $duration;
            @include tablet-only{
                transform: translateY(-8px);
            }
        }

        &::after{
            transform: translateY(6px);
            @include tablet-only{
                transform: translateY(8px);
            }
        }
    }
    
    &.burger{
        span{
        background-color: transparent;
        }
        span::before, span::after{
            background-color: $color-red;
        }
        span::before{
            transform: rotate(-45deg) translateY(0);
        }
        span::after{
            transform: rotate(45deg) translateY(0);
        }
    }
} 


// NAVIGATION
.header__nav{
    @include desktop-only{
        position: initial;
        opacity: 1;
        height: initial;
        padding: 1% 0;
        background-color: $color-primary;
        .active-link{
            transform: scale(1.5) translateY(-8%);
            font-style: italic;
            color: $color-hover;
         }
    }
    &-list {
        margin: 50% 5% 0;
        position: relative;
        @include desktop-only{
            display: flex;
            justify-content: space-evenly;
            margin: 0;
        }
        a  {
            display: block;
            padding: 10% 0 1%;
            text-transform: uppercase;
            @include tablet-only{
                font-size: 1em;
            }
            @include desktop-only{
                text-transform: initial;
                padding: 8% 0 3%;
            }
        }
    }
    &__sousMenu{
        text-align: center;
        background-color: $color-primary;
        max-height: 0;
        overflow: hidden;
        transition: $duration;
        & li{
            border-bottom: none;
        }
        & a{
            padding: 5% 0;
            @include desktop-only{
                padding: 5% 0;}
        }
        @include desktop-only{
            position: absolute;
            max-height: 0px;
            width: 100%;
            opacity: initial;
            background-color: $color-primary;
            overflow: hidden;
            padding: 0;
            z-index: 999;   
        }
    }
    &-item{
        span{
            display: inline-block;
            vertical-align: -.2em;
            transform: rotate(0) translate(0, 0);
            transform-origin: center;
            transition: $duration;
            @include desktop-only{
                vertical-align: -.35em;
            }
            i{
                vertical-align: .1em;
            }
        }
        &:hover{
            span{
                transform: rotate(-90deg) translate(20%, 10%);
            }
            .header__nav__sousMenu {
                max-height: 500px;
                transition: .7s  ;
                @include desktop-only{
                    padding-top: .5em;
                    max-height: 5.5em;
                    border-bottom: 4px solid $color-red;
                    transition: .3s;
                }
            }
        }
        @include desktop-only{
            text-align: center;
            width: 100%;
            padding: 0;
            border-bottom: none;
            position: relative;
        }
    }
    a:hover{
        color: $color-hover;
    }
    > p{
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        font: bold italic .9em Helvetica, Arial, sans-serif;
        @include tablet-only{
            font-size: 1em;
        }
        @include desktop-only{
            display: none;
        }
    }
}