@use '../utils/mixins';

.main_bloc{
    padding: 2% 0;
    p{
        margin: 0 5% 15% 5%;
        line-height: 1.5em;
    }
    article{
        align-items: center;
    }
    @include mixins.tablet-only{
        padding: 2% 0 0;
    }
    @include mixins.desktop-only{
        padding: 0 0 2% 0;
    }
 }
