@use '../utils/variables' as var ;
@use '../utils/mixins';

.main__content-btn{
    
    width:50%;
    align-self: center;
    margin: 10% 0;
    border: none;
    border-radius: 5px;
    background: var.$color-btn;
    color: var.$color-light;
    font-style: italic;
    font-weight: bold;
    font-size: .9em; 
    padding: .6em 3em .4em 3em;

    &, & i{
        transition: var.$duration ease;
    }

    @include mixins.tablet-only{
        font-size: 1em;
        margin-left:8%;
        align-self: flex-start;
        &--right{
            align-self: flex-end; margin-right: 8%;
        }
    }
    @include mixins.desktop-only{
        align-self: center;       
    }

    &:hover{
        box-sizing: border-box;
        transform:scale(110%, 110%);
        box-shadow:0px 0px 0px 1px var.$color-btnShadow inset;

        i{
            color:var.$color-light;
        }
    }

    i{
        line-height: .5em;
        vertical-align: -.33em;
        margin-left: 5%;
        color: var.$color-light;
        font-size: 1.5em;
    }
    
    &--change{
        padding: .6rem 1rem .4rem 1rem;
        i{
            margin-left: 0;
        }
    }
}

.btnDevis{
    width: 53%;
    @include mixins.tablet-only{
        align-self: start;
        margin: 5%;
    }

    @include mixins.desktop-only{
        align-self: center;
        margin-left: 10%;
    }
}