// GLOBAL
@font-face {
    font-family: 'Sansation';
    src: url('font/Sansation_Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

$color-primary :#000;
$color-secondary : #111;
$color-btn : #222;
$color-light: #fafafa;
$color-red: #CC2936;
$color-hover: #cac037;

@mixin tablet-only{
    @media only screen and (min-width: 576px) and (max-width: 1023px){
        @content;
    }
}
@mixin desktop-only{
    @media only screen and (min-width: 1024px){
        @content;
    }
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: $color-primary;
}

body:not(h4){
    color: $color-light;
}

img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

nav {
    ul {
        padding-left: 0;
    }
} 

ul {
    li {
        list-style-type: none;
    }
}

a{
    text-decoration: none;
    color: $color-light;
}

.flex_row{
    display: flex;
    flex-flow: row nowrap;
}

.flex_col{
    display: flex;
    flex-flow: column wrap;
}

// HEADER
.header{
    width: 100%;
    padding: 2% 0% 4%;
    background-color: $color-primary;
    position:sticky;
    overflow: hidden;
    top: 0;
    @include tablet-only{
        padding: initial;
        .flex_col{
            flex-direction: row;
        }
    }
    @include desktop-only{
        display: flex;
        align-items: center;
        padding: 0 2%;
        position: static;
        overflow: initial;
       
            border-bottom: 2px solid $color-red;
        .flex_col{
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            gap: 3em;
            flex: 1 1 50%;
        }
    }
    &__annonce{
        display: none;  //Temporaire
        position: fixed;
        font-size: .65rem;
        width: 100%;
        top: 0;
        -moz-animation: slide 15s  linear  infinite;
        -webkit-animation: slide 15s  linear  infinite;
        animation: slide 15s  linear  infinite;
        span{
            font-style: italic;
        }
        @keyframes slide {
            from{transform:translateX(-40%)}
            to{transform: translateX(100%);}
        }
    }
    &__logo{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        padding:  1% 2%;
        h1{
            margin: 0; 
        }
        @include desktop-only{
            padding: 0;
        }
    }
    &__logo > a{
        width:50%;
        margin-top: 1%;
        @include tablet-only{
            width:23%;
        }
        @include desktop-only{
            width:  30%;
        }
    }
    &__nav{
        position: absolute;
        top: 0;
        opacity: 0;
        height: 100vh;
        background-color: $color-primary;
        width: 100%;
        transition: .3s;
        @include desktop-only{
            flex: 1 0 65%;
        }
         &-item{
                padding-bottom: 1.5%;
                border-bottom: 1px solid $color-red;
            }
    }
    .flex_row{
        gap: .4em;
        align-items: center;
        @include tablet-only{
            gap: .6em;
        }
        i{
            line-height: .25em;
            vertical-align: middle;
            font-size: 6.8vw;
            color: $color-red;
            @include tablet-only{
                font-size: 4.6vw;
            }
            @include desktop-only{
                font-size: 1.9vw;
            }
        }
        span{
            font-size: 4.8vw;
            font-style: italic;
            @include tablet-only{
                font-size: 3.8vw;
            }
            @include desktop-only{
                font-size: 1.8vw;
            }
        }
    }
}

.header, .header__logo :first-child, .header .flex_row a{
    z-index: 800;
}

/* Classe appeler en JS */
.header-shadow{
    box-shadow:0px 5px 10px -8px $color-light ;
    padding: initial;
}

.header_main-change{
    overflow: initial;
}

.is-hide{
    display: none;
} 

.moveMenu{
    opacity: 1;
    z-index: 800;
}


.backToTop{
    position:fixed;
        right:2.5%;
        display:none;                               
        bottom:1.25%;
        font-size :1.5em;
        color :$color-light;
        opacity: .2;
}
 /* ****** */


// MENU BURGER
.header__burger{
    width: 6.5%;
    margin-left: 12%;
    margin-right: 4%;
    z-index: 999;
    @include tablet-only{
        width: 6%;
        margin-left: 8%;
    }
    @include desktop-only{
        display: none;
    }
    &-position{
        position: absolute;
        margin-top: .6em;
        top:8.5%;
        right: 1.8%;
        @include tablet-only{
            margin-top: 0;
            position: initial;
        }
    }
    span{
        display: block;
        transform: rotate(0);
        transition: .3s;
        background-color: $color-light;
        padding: .05em;
        border-radius: 2px;
    }
    &__check:checked + label #span2, #check{
        display: none;
    } 
    &__check:checked + label{
        #span1{
            transform: rotate(-45deg);
        }
        #span3{
            transform: rotate(45deg);
        }
    }
} 

#span2{
    margin: 15% 0%;
}

// NAVIGATION
.header__nav{
    @include desktop-only{
        position: initial;
        opacity: 1;
        height: initial;
        padding: 1% 0;
        background-color: $color-primary;
        .active-link{
            transform: scale(1.5) translateY(-8%);
            font-style: italic;
            color: $color-hover;
         }
    }
    &-bottom{
        @include desktop-only{
            padding-bottom: .25em;
        }
    }
    &-list {
        margin: 50% 5% 0;
        position: relative;
        @include desktop-only{
            display: flex;
            justify-content: space-evenly;
            margin: 0;
        }
        a  {
            display: block;
            padding: 10% 0 1%;
            text-transform: uppercase;
            @include tablet-only{
                font-size: 1em;
            }
            @include desktop-only{
                text-transform: initial;
                padding: 10% 0 1%;
            }
        }
    }
    &__sousMenu{
        text-align: center;
        background-color: $color-primary;
        max-height: 0;
        overflow: hidden;
        transition: .2s;
        & li{
            border-bottom: none;
        }
        & a{
            padding: 5% 0;
            @include desktop-only{
                padding: 5% 0;}
        }
        @include desktop-only{
            position: absolute;
            max-height: 0px;
            width: 100%;
            opacity: initial;
            background-color: $color-primary;
            overflow: hidden;
            padding: 0;
            z-index: 999;   
        }
    }
    &-item{
        span{
            display: inline-block;
            vertical-align: -.2em;
            transform: rotate(0) translate(0, 0);
            transform-origin: center;
            transition: .3s;
            @include desktop-only{
                vertical-align: -.35em;
            }
            i{
                vertical-align: .1em;
            }
        }
        &:hover{
            span{
                transform: rotate(-90deg) translate(20%, 10%);
            }
            .header__nav__sousMenu {
                max-height: 500px;
                transition: .7s  ;
                @include desktop-only{
                    padding-top: .5em;
                    max-height: 5.5em;
                    border-bottom: 4px solid $color-red;
                    transition: .3s;
                }
            }
        }
        @include desktop-only{
            text-align: center;
            width: 100%;
            padding: 0;
            border-bottom: none;
            position: relative;
        }
    }
    a:hover{
        color: $color-hover;
    }
    & > p{
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        font: bold italic .9em Helvetica, Arial, sans-serif;
        @include tablet-only{
            font-size: 1em;
        }
        @include desktop-only{
            display: none;
        }
    }
}

// DIAPO
.diapo{
    border: none;
    overflow: hidden;
    background-color: $color-primary;
    position: relative;  
    & > a{
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1em;
        height: 1em;
        font-size: 1.5em;
        border: 1px solid $color-light;
        border-radius: 50%;
        background-color: $color-primary;
        opacity: .1;
        transition: .6s;
        @include tablet-only{
            width: 1.5em;
            height: 1.5em;
        }
        @include desktop-only{
            width: 2em;
            height: 2em;
        }
    }
    &__next{
        right: 2%;
    }
    &__prev{
        left: 2%;
    }
}

.diapo__slide{
    flex: 1 0 100%;
    opacity: 0;
    &__img{
        height: 100%;
    }
}

.slide__dot{
    text-align: center;
    margin: 1% 0;
    &__item{
        cursor: pointer;
        padding: .1em;
        width: 1em;
        margin: 0 2px;
        background-color: $color-light;
        display: inline-block;
        transition:  .6s ease;
    }
}

.slide-show{
    opacity: 1;
    transition: .5s ease-out;
}  

.diapo__prev:hover, .diapo__next:hover{
    opacity: .5;
}

.active{
    background-color: $color-red;
}

// SECTION1
.main_bloc{
    padding: 2% 0;
    p{
        margin: 0 5% 15% 5%;
        font-size: .9em;
        line-height: 1.5em;
    }
    article{
        align-items: center;
    }
    img[src*="handicap"]{
        margin-bottom:10%;
    }
 }
 
.main__content{
     align-items: center;
     width: 100%;
     padding: 10% 2%;
     margin-bottom: 5%;
     background-color: $color-secondary;
     border-radius: 20px;
    
    
     @include tablet-only{
       flex-flow: row nowrap;
        p {font-size: 1em;}
        &--change-width{width: 75%;}
    }
    @include desktop-only{
        padding: 2% 2% 5%;
        flex-wrap:nowrap;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2%;
        &--change-width{width: 50%;}
    }
     &-logo{
        margin-bottom: 10%;
        width: 25%;
        @include tablet-only{
            margin-bottom: 0;
            width: 20%;
            &:not(img[src*="logo-eve"]) {order: 1;}
            &--change{width: 20%; }
        } 
        @include desktop-only{
            margin-bottom: 0;
            width: 15%;
            &:not(img[src*="logo-eve"]) {order: 1;}
            &--change{width: 13%; }
        }
     }
     &-title{
        margin-left: 2%;
        font: italic 1.3em Helvetica, Arial, sans-serif;
        @include tablet-only{
            font-size: 1.7em;
        }
        @include desktop-only{
            font-size: 1.7em;
        }
    }
    &-border{
        margin: 0 2%;
        border-left: 3px solid $color-red;
      
        &--change{
            margin: 0 2%;
            border-right: 3px solid $color-red;
            & :first-child{
                margin-left: 0;
            }
        }
    }
    &-btn{
        border: 1px solid $color-red;
        border-radius: 5px;
        background-color: $color-btn;
        color: $color-light;
        font: italic 1.3em Helvetica, Arial, sans-serif;
        padding: .4em 3em;
        font-size: .9em;
        @include tablet-only{
            font-size: 1em;
            align-self: flex-start;
            margin-left:5%;
            &--right{align-self: flex-end; margin-right: 5%;}
        }
        &:hover{
            border: 1px solid $color-light;
            color: $color-hover;
            i{
                color:$color-light;
            }
        }
        i{
            line-height: .5em;
            vertical-align: -.25em;
            margin-left: 5%;
            color: $color-red;
            font-size: 1.5em;
        }
    }
    &-btn--change{
        padding: .4rem 1rem .4rem 1rem;
        i{
            margin-left: 0;
        }
    }
}
 
.cta_btn, .cta_btn i{
    transition: .5s;
}

hr{
    width:90%;
    margin: 0 auto;
}

// FOOTER
.footer{
    padding: 2% 5% 0;
    font-size: .9em;
    line-height: 1.4em;
    @include tablet-only{
        font-size: 1em;
        &--reverse{order: 1;}
        &__icon--center{justify-content: center;}
        &--space-between{margin-bottom: 20%;}
    }
    @include desktop-only{
        &--space-between{margin-bottom: 20%;}
        &--reverse{order: 1;}
    }
    &-title{
        color: $color-red;
        margin-bottom: 2%;
        @include tablet-only{
            margin-bottom: 4%;
        }
        @include desktop-only{
            margin-bottom: 4%;
        }
    }
    &__nav{
        margin-top: 2%;
        @include tablet-only{
            text-align: left;
        }
    }
    & > p{
        margin-top: 5%;
        font-size: .65em;
        text-align: center;
        text-transform: uppercase;
        color: $color-red;
        & > a{
            color: $color-red;
        }
    }
    .flex_row{
        -webkit-gap-gap: 3%;
        gap: 3%;
    }
    &-icon{
        font-size: 1.8rem;
    }
    & > div.flex_row{
        flex-direction: column;
        @include tablet-only{
            flex-direction: row;
            justify-content: space-evenly;
            text-align: center;
        }
        @include desktop-only{
            flex-direction: row;
            justify-content: space-around;
            text-align: start;
        }
    }
}





